@model Client.ViewModel.UpdatePostPageViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_layout.cshtml";
    var isLoggedIn = HttpContextAccessor.HttpContext.Request.Cookies["CookiesPRN231"] != null;
}

@if (isLoggedIn)
{
    <div class="w3-theme-l5">
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:30px; background-color: white; display: flex; align-items: center; justify-content: center">
            <div class="w3-row" style="width: 70%">

                <!-- Middle Column -->
                <div class="w3-col m7" style="padding: 0 10px; width: 100%">

                    @* FORM UPDATE *@
                    <div class="update-post-container">
                        <h2>Chỉnh sửa bài viết</h2>

                        <form id="updatePostForm" method="post" asp-controller="Post" asp-action="UpdatePost" enctype="multipart/form-data">
                            <input type="hidden" value="@Model.PostDTO.Account.AccountId" asp-for="UpdatePostViewModel.AccountId">
                            <input type="hidden" value="@Model.PostDTO.post.PostId" asp-for="UpdatePostViewModel.PostId"/>

                            <textarea asp-for="UpdatePostViewModel.ContentPost" placeholder="@Model.PostDTO.Account.FullName ơi, bạn đang nghĩ gì thế?" class="content-post-update"
                            required></textarea>

                            <div class="select">
                                <label for="select-input">Chọn danh mục: </label>
                                <select id="select-input" asp-for="UpdatePostViewModel.CategoryId">
                                    <option value="" disabled selected>Chọn danh mục</option>
                                    @foreach (var categoryPost in Model.CategoryPosts)
                                    {
                                        @if (categoryPost.CategoryPostId == Model.PostDTO.post.CategoryPostId)
                                        {
                                            <option selected value="@categoryPost.CategoryPostId">@categoryPost.CategoryPostName</option>
                                        }
                                        else
                                        {
                                            <option value="@categoryPost.CategoryPostId">@categoryPost.CategoryPostName</option>
                                        }
                                    }
                                </select>
                            </div>

                            @if (Model.PostDTO.postImages != null && Model.PostDTO.postImages.Count() > 0)
                            {
                                <div id="optionChooseImage">
                                    <label>Bạn có muốn xóa ảnh cũ không?</label>
                                    <div>
                                        <input type="radio" asp-for="UpdatePostViewModel.IsDeleteOldImage" value="true" /> Có
                                        <input type="radio" asp-for="UpdatePostViewModel.IsDeleteOldImage" value="false" /> Không
                                    </div>
                                </div>
                            }


                            <div id="imageOldPreviewUpdate">
                                <p>Ảnh cũ:</p>

                                <div style="margin-top: 10px; display: flex; flex-wrap: wrap;">
                                    @if (Model.PostDTO.postImages != null && Model.PostDTO.postImages.Count() > 0)
                                    {
                                        @foreach (var imageItem in Model.PostDTO.postImages)
                                        {
                                            <img style="width: 100px; margin-right: 10px" src="@imageItem.ImageUrl" />
                                        }
                                    }
                                    else
                                    {
                                        <p>Bài post hiện không có ảnh</p>
                                    }
                                </div>

                            </div>

                            <div id="imageNewPreviewUpdate">
                                <p>Ảnh mới: </p>
                                <div id="previewNewImage" style="margin-top: 10px; display: flex; flex-wrap: wrap;">
                                </div>
                            </div>

                            <input onchange="console.log(this.files)" type="file" id="imageInput" asp-for="UpdatePostViewModel.Images" accept="image/*" style="display: none;" multiple>

                            <div class="actions" style="margin-top: 10px;">
                                <button type="button" id="selectImageButton">
                                    <img src="https://via.placeholder.com/20/00FF00" alt="Photo/Video">Ảnh/video
                                </button>
                            </div>

                            <button type="submit"
                            style="width: 100%; margin-top: 10px; padding: 10px; background-color: #1877f2; color: white; border: none; border-radius: 5px;">
                                Lưu thay đổi
                            </button>

                            <a asp-action="PersonalPage" asp-controller="Profile" asp-route-id="@Model.PostDTO.post.AccountId">Trở về trang cá nhân</a>
                        </form>
                    </div>
                    @* END FORM UPDATE *@

                </div>

            </div>
        </div>
    </div>
} else
{
    <a asp-action="Index" asp-controller="Authen">Đăng nhập lại</a>
}

